
/* --------------------------------------------------------------------------
 * Este arquivo customiza o estilo definido pela identidade visual.
 * --------------------------------------------------------------------------
 */
@charset "UTF-8";


/* -------------------------------------------------------------------------
	PAGINACAO
---------------------------------------------------------------------------- */
select.pagination-size {
	margin: -23px 10px 0;
	width: auto;
	min-width: 50px;
	height: 30px;
}

/* -------------------------------------------------------------------------
	LIST-BOX DUPLO
---------------------------------------------------------------------------- */

table.table-listbox-duplo th {
	padding-bottom: 0px;
	border: 0;
}

table.table-listbox-duplo td {
	border: 0;
}

table.table-listbox-duplo {
	margin-left: -5px;
	margin-right: -5px;
}


/* -------------------------------------------------------------------------
	BARRA DE FERRAMENTAS
---------------------------------------------------------------------------- */
ul.barraFerramentas {
	margin: 20px 0 0 0;
	display: table-cell;
	vertical-align: bottom;
}

/* -------------------------------------------------------------------------
	MENSAGENS E PAGINAS DE ERRO
---------------------------------------------------------------------------- */
.boxMensagem {
	width:auto;
	margin:20px 0;
	padding:15px 20px 15px 40px;
	font:bold 13px Arial, Helvetica, sans-serif;
}

.boxMensagem ul {
	margin:5px 0 5px 25px;
	list-style-type:circle;
}

.boxMensagem ul li {
	margin:0;
	padding:3px 0;
	font-weight:bold;
	font-size:12px;
	color:#333;
}

.boxMensagem input {
	float:right;
}

.boxMensagemSucesso {
	width:25%;
	margin:20px 0;
	padding:15px 20px 15px 40px;
	font:bold 13px Arial, Helvetica, sans-serif;
}

.boxMensagemSucesso ul {
	margin:5px 0 5px 25px;
	list-style-type:circle;
}

.boxMensagemSucesso ul li {
	margin:0;
	padding:3px 0;
	font-weight:bold;
	font-size:12px;
	color:#333;
}

.boxMensagemSucesso input {
	float:right;
}

.messageErrorTitle {
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../imagens/Parar.gif);
	color: #ce0a0a;
}
.errorMessageBox {
	padding: 20px 10px;
	margin: 20px auto;
	width: 750px;
}

.errorMessageBoxTopBottom {
	margin: 0;
	padding: 0;
	width: 750px;
	height: 20px;
}

.messageContent {
	margin: 0;
	padding: 35px 50px;
	width: 650px;
	background-image: url(../imagens/bg_conteudo_box.jpg);
}

.messageContent p {
	margin: 20px 0;
	font-size: 12px;
}

.messageErrorTitle {
	height: 50px;
	margin: 0;
	padding: 15px 0 0 90px;
	clear: both;
	font-size: 16px;
	font-weight: bold;
}

.sucesso {
	border: 1px solid #b8d2a3;
	color: #235013;
	background-color: #eafbdc;
	background-image: url(../imagens/ico_sucesso.gif);
	background-repeat: no-repeat;
	background-position: 12px 12px;
}

.atencao {
	background: #fffc9e url(../imagens/ico_alerta.gif)
		no-repeat 12px 12px;
	border: 1px solid #d4c3a0;
	color: #c38900;
	background-color: #feffd8;
}

.erro {
	border: 1px solid #dab4ad;
	color: #960606;
	background-color: #fde4df;
	background: #ffe9e9 url(../imagens/ico_erro.gif) no-repeat
		12px 13px;
}

.informacao {
	background: #eaebeb url(../imagens/ico_informacao.gif)
		no-repeat 12px 12px;
	border: 1px solid #D1D1D1;
	color: #666666;
	background-color: #EAEBEB;
}

.questionamento {
	background: #e2f7fe url(../imagens/ico_pergunta.gif)
		no-repeat 12px 12px;
	border: 1px solid #a3b2d2;
	color: #101f5c;
	background-color: #dce6fb;
}

.rowSelected {
	background-color: #f5f5f5;
}

/* -------------------------------------------------------------------------
	IMPRESSAO
---------------------------------------------------------------------------- */
@media print {
	#btnExport, #btnPrint, 
	#formPrincipal, 
	div[class~=pagination], 
	div[role~=navigation],
	ul[class~=breadcrumb], 
	button[class~=btn] {
		display: none;
	}
	
	.header img {
		display: block !important;
	}
	
	a[href]:after {
		content: none !important;
	}
}
