
<div class="page-header">
	<h2>Painel de Notificação</h2>
</div>


<fieldset>
	<legend> Financeiro </legend>
	<div class="row-fluid">
		Faturamento do dia: <a href="#">5</a>
	</div>
	<div class="row-fluid">
		Faturamento do mês: <a href="#">5</a>
	</div>
</fieldset>
<br />

<fieldset>
	<legend> Estoque/Produto </legend>

	<div class="row-fluid">
		Produto mais vendido: <a href="#">Coca-Cola 2L</a>
	</div>
	<br />
</fieldset>

<fieldset>
	<legend> Mesa </legend>

	<div class="row-fluid">
		Mesa com mais vendas: <a href="#">Mesa 01</a>
	</div>
	<br />
</fieldset>
