
<breadcrumb param="Consult Task"></breadcrumb>

<titulo param="Consult Task" displaytoolbar="true"></titulo>

<div class="row">
	<div class="col-lg-6">
		<label for="nameTask">Name:</label> <input type="text"
			class="form-control" />
	</div>

	<div class="col-lg-6">
		<label for="startDate">Start Date:</label>
		<div class='input-group date' id='datePicker1'>
			<input type="text" class="form-control" /> 
			<span class="input-group-addon"> 
			<span class="glyphicon glyphicon-calendar"></span>
			</span>
		</div>
	</div>
</div>

</br>
<fieldset>
	<div class="controls">
		<button id="btnSearch" type="button" class="btn" ng-click="$ctrl.findByFilter();">Search</button>
		<button id="btnInclude" type="button" class="btn btn-primary" ng-click="$ctrl.redirectCreate();">Include</button>
	</div>

</fieldset>
</br>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Start Date</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="e in $ctrl.listTask">
			<td>{{e.name}}</td>
			<td>{{e.startDate}}</td>
			<td><button type="button" class="btn btn-xs" ng-click="$ctrl.redirectEdit(e.id);">
					<span class="glyphicon glyphicon-edit"></span>
				</button>
			</td>
			<td><button type="button" class="btn btn-xs" ng-click="$ctrl.removeTask(e.id);">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="controls">
	<button id="btnVoltar" type="button" class="btn" onclick="javascript:location.href='/'">Voltar</button>
</div>