<div class="container-fluid">

<breadcrumb param="Histórico de Demandas CRM"></breadcrumb>
<titulo param="Histórico de Demandas CRM"></titulo>

<div class="row-fluid">
	<div class="span3">
			<label for="NumEC">Nº EC</label>
			<input type="text" class="span10" id="NumEC">
	</div>
	
	<div class="span3">
			<label for="numProtocolo">Nº Protocolo</label> 
			<input type="text" class="span10" id="numProtocolo">
	</div>

	<div class="span3">
			<label for="canalAtendimento">Canal de atendimento</label> 
			<select class="span10" id="canalAtendimento">
				<option>Selecione</option>
				<option>asd</option>
			</select>
	</div>

	<div class="span3">
			<label for="nomeDemanda">Nome da demanda</label> 
			<select class="span10" id="nomeDemanda">
				<option>Selecione</option>
				<option>asd</option>
			</select>
	</div>	
</div>

<div class="row-fluid">
		<div class="span3">
				<label for="dtPrevisao">Data prevista de solução</label> 
				<input type="text" id="dtPrevisao" class="span10"/>						
				<script type="text/javascript" charset="utf-8">
					readyFormAndInsertDatePickers('dtPrevisao');
				</script>
		</div>

		<div class="span3">
				<label for="selectStatus">Status</label> 
				<select class="span10" id="selectStatus">
					<option>Selecione</option>
				</select>
		</div>
</div>	
	
	<div class="row-fluid">
		<div class="controls">
			<button type="submit" class="btn btn-primary">Pesquisar</button>
		</div>
	</div>
	
	</br>
	<table class="table table-bordered">
			<tr>
			<th>Hora de abertura</th>
			<th>Nº protocolo</th>
			<th>Canal de atendimento</th>
			<th>Tipo de demanda</th>
			<th>Nome de demanda</th>
			<th>Descrição</th>
			<th>Indicador CPC</th>
			<th>Status</th>
			<th>Data prevista para solução</th>
			<th>Data de solução</th>
			</tr>
			<tr>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
			</tr>
			<tr>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
				<td>qwerwer</td>
			</tr>
	</table>
</div>