<div id="capa1" class="capa itemOculto" style="width: 100%"></div>
<div id="base">
	<center>
		<div id="conteudo">
			<header>
				<div id="header">
					<div id="logo"></div>
					<div id="bloco2">

						<br class="clr">
						<div id="busca"></div>
						<!--busca/fim-->
						<br class="clr">
					</div>
				</div>
				<!--div header/fim-->
			</header>


			<br class="clr">

			</section>

			<!-- InstanceBeginEditable name="corpo" -->

			<section>
				<!--<div id="trilha">Início » Trilha1 » Trilha2 » Trilha3</div>-->
				<div id="corpo">
					<br class="clr">
					<!-- #EndLibraryItem -->

					<div ng-show="error != undefined && error != ''" id="divErro"
						class="erro">
						<input type="button" class="erroFechar" ng-click="hide()" />
						<p class="erroTitulo erroIco">Erro:</p>
						<p class="erroTexto">{{error}}</p>
					</div>
					<div class="guiaConteudo" id="guiaX">
						<!--<div class="navegacaoNivel4"><a href="#" class="ativo">Navegação nível 4</a><a href="#">Navegação nível 4</a></div><br class="clr">-->
						<div class="secao2F" id="secaoX">
							<!--<div class="secaoHeader"><span>Seção de cadastro com 4 colunas</span></div>-->

							<div class="secaoConteudo4C">
								<h1 class="tituloLogin">Faça o seu login na Cielo</h1>
								<form ng-submit="login()">
									<div class="campo2">
										Usuário:<br class="clr"> <input type="text" value=""
											ng-model="username">
									</div>

									<br class="clr">
									<div class="campo2">
										Senha:<br class="clr"> <input type="password" value=""
											ng-model="password">
									</div>

									<br class="clr"> <span class="dado italico fL">Os
										sistemas da Cielo devem ser utilizados para conduzir apenas
										atividades da Cielo. <br class="clr"> O uso é registrado
										e monitorado para verificar a conformidade com as políticas da
										empresa. <br class="clr"> Ao acessar o sistema você
										declara que concorda com estes termos
									</span> <br class="clr"> <br class="clr">
									<div class="botoesLogin">
										<input type="submit" id="btEditarDados" class="btPadraoNovo"
											value="Entrar">
									</div>
								</form>
							</div>

							<!-- <div id="plano_login"></div> -->
						</div>

					</div>
			</section>


		</div>
		<!--conteudo/fim-->

	</center>
</div>